<nav>
  <ul>
    <li>
      <%= link_to 'Billboards', charts_path %>
    </li>
    <li>
      <%= link_to 'Artists', artists_path %>
    </li>
    <li>
      <%# <%= link_to 'Songs', artist_songs_path(params[:id]) %>
    </li>
  </ul>
</nav>

